* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header {
  background: #23424a;
  padding: 3rem 0;
}

h1,
p {
  color: white;
}

p {
  line-height: 150%;
  margin: 2rem 0;
}

.hero {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid yellow;
}

.hero__text {
  width: 50%;
  min-width: 200px;
  border: 1px solid blue;
}

.btn {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: #38cfd9;
  color: #23424a;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #37c2cc;
}
